.todos-box {
  display: flex;
  flex-direction: column;
  background-color: bisque;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 12px;

  min-height: 500px;
  min-width: 350px;
  
}