.header-container {
  display: flex;
  flex-direction: row;
  gap: 15px;

  justify-content: space-between;
  align-items: center;

  max-width: 80%;
}

.main-header {
  font-size: 25px;
  margin-bottom: 50px;

  text-align: center;
}

.secondary-header {
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  gap: 15px;
}

.input-form {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  height: 100%;

  margin: 0 auto;
}