.todo-card {
  display: flex;
  flex-direction: column;

  max-width: 300px;
  max-height: 300px;

  cursor: grab;

  gap: 10px;

  justify-content: center;
  align-items: center;

  border: 1px solid black;
  border-radius: 15px;

  background-color: whitesmoke;
  color: black;

  &__creating-new {
    margin-top: 56px;
    max-height: 250px;

    padding: 10px;

    display: flex;
    flex-direction: column;

    gap: 10px;


    background-color: wheat;
    border: 1px solid gray;
      border-radius: 15px;

  }
}

.icons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;

  position: relative;
  left: 0;

}

.button {
  border: none;

  &:hover {
    cursor: pointer;
  }

  &__save {
    align-items: center;
    justify-content: center;

    max-height: 50px;
    max-width: 50px;

    margin-left: auto;
  }

  &__cancel {
    justify-content: center;
    align-items: center;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0;
}

.has-fixed-size {
  font-size: 12px;
  height: 60px;
}

.buttons-block {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  
  background-color: wheat;
}
